@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/bootstrap.css" />

<div class="text-center">
    <h1 class="display-4">The incredible Data</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <select name="number" onchange="changeFilter(this)">
                    <option value="0">No Filter</option>
                    <option value="1">Filter</option>
                    <option value="2">Filter, Projection</option>
                    <option value="3">Filter, Projection, Sorting</option>
                    <option value="4">Aggregation</option>
                </select>
            </div>
            <div class="col">
                <select name="number" onchange="changeDatabaseStruct(this)">
                    <option value="0">Mongo</option>
                    <option value="1">Postgres</option>
                </select>
            </div>
        </div>
    </div>


    
    <div class="container">
        <div class="row">
            <div class="col">
                @foreach (var person in @Model.persons)
                {
                    <p onclick="setGeraete(@person.Id)">@person.Name</p>
                }
                
            </div>
            <div class="col">
                @foreach (var geraete in Model.gereate)
                {
                    <p>@geraete.Name</p>
                }
            </div>
        </div>
    </div>
</div>