@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">The incredible Data</h1>
    <div class="col-md-10">
        <select name="number" onchange="">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>

    @foreach(var person in Model.pers)
</div>
